{% extends 'base_template.html' %}

{% block title %} {{ title }} {% endblock %}}

{% block h1 %} {{ title }} {% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/market/bikes">Велосипеды<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market/lessons">Занятия</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market/parts">Запчасти</a>
                </li>
            </ul>
        </div>
    </nav>

    <p> </p>
    <br> <br>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Columns here -->
                <th scope="col">ID</th>
                <th scope="col">Наименование</th>
                <th scope="col">Класс</th>
                <th scope="col">Информация</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>

        <tbody>
            {% for bike in bikes %}
                <tr>
                    <!-- Values here -->
                    <td scope="col">{{ bike.ID }}</td>
                    <td scope="col">{{ bike.name }}</td>
                    <td scope="col">{{ bike.class }}</td>
                    <td scope="col">{{ bike.about }}</td>
                    <td scope="col">{{ bike.price }} руб.</td>
                    <td scope="col">
                        <button class="btn btn-outline btn-info">Подробнее</button>
                        <button class="btn btn-outline btn-success">Купить</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}