<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\гвардеец\Documents\GitHub\AlexGvardeec\3. Market_website\templates\style.css">
    <title>Main Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"></nav>
    <h1>Welcome to our shop!</h1>
    <p>Choose category:</p>

    <ul>
        <li>Food</li>
        <li>House cleaning</li>
        <li>Children food</li>
        <li>Children toys</li>
        <li>Pet food</li>
        <li>Alan Shepard</li>
</ul>
</body>

</html>